<section class="relative w-full flex flex-col justify-center gap-2 ">

    <app-edit-header EditTypeName="details"/>
    @if (editType() === 'details') {
    <form [formGroup]="form" class="w-full" (ngSubmit)="onSubmit()">
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-5 my-1">
        <div class="w-full">
        <label class="w-full select bg-tint text-white">
        <span class="label capitalize">
        <i class="fa-solid fa-user text-xl"></i>
        gender
        </span>
            <select formControlName="gender">
                <option>Male</option>
                <option>Female</option>
            </select>
        </label>
        </div>

        <div class="w-full">
        <label class="w-full input bg-tint text-white">
        <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" 
        class="size-5">
        <path fill-rule="evenodd" d="M7.5 5.25a3 3 0 0 1 3-3h3a3 3 0 0 1 3 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0 1 12 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 0 1 7.5 5.455V5.25Zm7.5 0v.09a49.488 49.488 0 0 0-6 0v-.09a1.5 1.5 0 0 1 1.5-1.5h3a1.5 1.5 0 0 1 1.5 1.5Zm-3 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
        <path d="M3 18.4v-2.796a4.3 4.3 0 0 0 .713.31A26.226 26.226 0 0 0 12 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 0 1-6.477-.427C4.047 21.128 3 19.852 3 18.4Z" />
        </svg>
        </span>
        <input type="text" class="grow" placeholder="Add a workplace"  formControlName="work"/>
        </label>
        </div>

        <div class="w-full">
        <label class="w-full input bg-tint text-white">
        <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" 
        class="size-5">
        <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
        </svg>
        </span>
        <input type="text" class="grow" placeholder="Your address" formControlName="address" />
        </label>
        </div>
    </div>
    
    <div class="w-full flex justify-end items-center">
        <app-btn  btnType="submit"  
        [routerLink]="['/',{outlets : {'profile-setup' : 'user'}}]" 
        [queryParams]="{editType :  null }"
        btnClass="w-24 btn btn-sm  btn-sawa bg-sawa-primary text-background font-bold   my-1">
        save
        </app-btn>
    </div>
    </form>
}@else {
    @let details = userStore.user()?.details;
    @if(details){
    <app-profile-details class="w-full" [details]="details"/>
    }
   
}
</section>
    