<header aria-label="chat-heaer" 
class="w-full h-[8vh] bg-tint rounded-t-box flex justify-between items-center
px-4 ">

    <div class="flex justify-center items-center gap-2">

    <a routerLink="/chat" class="btn-hover">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" 
        class="size-8 text-sawa-primary">
        <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
        </svg>
    </a>

    @let userImage = chatStore.chat()?.user1_id?.avatar_url ;
    <div class="size-10 rounded-box border-2 border-background"
    (click)="imageViewer.getImage(userImage! ,userImage ? true : false)">
        <app-user-image  [avatarUrl]="userImage!" [isDefault]="userImage ? false : true"
        imageClass="size-full  object-cover rounded-box"/> 
    </div>

    <div class="flex flex-col justify-center items-start gap-1 text-white ">
    <h1 class="font-semibold capitalize text-sm">{{chatStore.chat()?.user1_id?.fullName}}</h1>
    <h5 class="text-xs text-overlay">Active 1 min ago.</h5>
    </div>
    </div>

    <ul class="flex justify-center items-center gap-7 text-white">
    <li>
    <a class="link-hover">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" />
    </svg>
    </a>
    </li>
    <li>
    <a class="link-hover">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
    </svg>
    </a>
    </li>
    </ul>

</header>