<header class="w-full flex flex-col  justify-center  gap-4">

    <div class="w-full flex flex-col  justify-center items-center gap-1">
            @let imageUser = userStore.userProfile()?.avatar_url!;
            <div (click)="imageViewerStore.getImage(imageUser , imageUser ? true : false)"
            aria-label="profile-image"  class="size-45 md:size-50   cursor-pointer rounded-ful btn-hover">
            <app-user-image  [avatarUrl]="imageUser" [isDefault]="imageUser ? false : true"
            imageClass="size-full object-cover rounded-full border-1 border-white "/>
            </div>
        <h1 class="title-h1 text-2xl line-clamp-2">{{userStore.userProfile()?.fullName}}</h1>
    </div>

    <app-interaction-count />

    <div class="flex flex-wrap justify-center items-center gap-2 md:gap-5 ">
            @let isMyProfile = userStore.user()?.user_id === userStore.userProfile()?.user_id;
            <ng-container *ngIf="isMyProfile; else notMyProfile">
                <app-btn btnbtnType="button" btnClass="w-40 btn-sawa">
                    <i class="fa-solid fa-plus"></i>
                    add to story
                </app-btn>
                <app-btn [routerLink]="['/', { outlets: { 'profile-setup': 'user' } }]" 
                        btnType="button" btnClass="w-40 btn-sawa-2">
                    <i class="fa-solid fa-pen"></i>
                    edit profile
                </app-btn>
            </ng-container>
            <ng-template #notMyProfile>
                <ng-container *ngIf="!followersStore.isFollowing(); else following">
                    <app-btn (click)="followersStore.addFollow()" 
                            btnType="button" btnClass="w-40 btn-sawa">
                        <i class="fa-solid fa-user-plus"></i>
                        follow
                    </app-btn>
                </ng-container>
                <ng-template #following>
                    <app-btn (click)="followersStore.unFollow()" 
                            btnType="button" btnClass="w-40 btn-sawa">
                        <i class="fa-solid fa-user-xmark"></i>
                        unfollow
                    </app-btn>
                </ng-template>
                <app-btn [routerLink]="['/chat']" 
                btnType="button" btnClass="w-40 btn-sawa-2">
                    <i class="fa-solid fa-comment"></i>
                    message
                </app-btn>
            </ng-template>
            </div>
    </header>