<section class="w-full animate-sideLeft flex justify-center items-center py-2 pb-10">
    <div class="w-full lg:w-[80%] flex flex-col justify-center items-center px-4 gap-5">

    <header class="relative w-full">
    <a [routerLink]="['/home']" class="absolute top-4 left-4 z-50 btn-hover">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" 
        class="size-8 text-white">
        <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
        </svg>
    </a>
    <app-user-profile-cover />
    <div class="relative w-full  flex flex-wrap  justify-evenly items-center  gap-4">
    <div class="lg:w-1/2 flex flex-col md:flex-row justify-center items-center gap-5 ">
    <picture aria-label="profile-image"  class="size-45 md:size-50  cursor-pointer btn-hover">
    <app-user-image  [avatarUrl]="userStore.userProfile()?.avatar_url || 
    'https://fpycbjhhzhzwuakxsdpx.supabase.co/storage/v1/object/public/users//user.webp'"
    imageClass="size-45 md:size-50 rounded-full border-2 border-white "/>
    </picture>

    <h1 class="title-h1 text-2xl lg:text-3xl line-clamp-2">{{userStore.userProfile()?.fullName}}</h1>
    </div>
    <div class="flex flex-wrap justify-center items-center gap-2 md:gap-5 ">
    @let isMyProfile = userStore.user()?.user_id ===  userStore.userProfile()?.user_id ;

    @if(isMyProfile){
    <button type="button" class="w-40 btn-sawa">
    <i class="fa-solid fa-plus"></i>
    add to story
    </button>
    <button [routerLink]="['/',{outlets : {'profile-setup' : 'user'}}]" 
    type="button" class="w-40  btn-sawa-2">
    <i class="fa-solid fa-pen"></i>
    edit profile
    </button>
    }@else {
    @if(!followersStore.isFollowing()){
        <button (click)="followersStore.addFollow(userStore.userProfile()?.user_id!)" 
        type="button" class="w-40 btn-sawa">
        <i class="fa-solid fa-user-plus"></i>
        follow
        </button>
    }@else {
        <button (click)="followersStore.unFollow()" 
        type="button" class="w-40 btn-sawa">
        <i class="fa-solid fa-user-xmark"></i>
        unfollow
        </button>
    }

    
    <button [routerLink]="['chat']" 
    type="button" class="w-40 btn-sawa-2">
    <i class="fa-solid fa-comment"></i>
    message
    </button>
    }
    </div>
    </div>

    </header>

    <app-profile-links [user_id]="userId()!"/>

    <div class="w-full flex flex-wrap justify-between items-start gap-5">
    <app-user-profile-details class="w-full lg:w-[40%] "/>
    <div class="w-full lg:w-[55%] flex flex-col justify-center  gap-4">
    <app-add-post />
    <div>
        <h1 class="title-h1">your posts</h1>
    
    </div>
    </div>
    </div>

</div>
</section>