<form  class="w-full px-2">
    <fieldset class="w-full fieldset flex flex-col justify-center items-center gap-5">

    <legend class="fieldset-legend text-white font-[400] capitalize  text-xl flex flex-col 
    justify-start items-start ">
    My profile Settings
    <small class="text-overlay text-xs mb-5">please edit your details below</small>
    </legend>

    <div class="w-full flex flex-wrap  justify-start items-center gap-2 text-white">
    <label for="password" class="w-20 text-lg capitalize ">Password</label>
    <input type="password" name="password" id="password"   placeholder="*******************"
    class="w-80 input input-sm input-neutral bg-transparent focus:outline-sawa-primary outline-sawa-primary 
    outline-1 disabled:bg-transparent">
    </div>

    <div class="w-full flex flex-wrap justify-start items-center gap-2 text-white">
    <label for="email" class="w-20 text-lg capitalize ">E -mail</label>
    <input type="email" name="email" id="email"  value="elviz@gmail.com"
    class="w-80  input input-sm input-neutral bg-transparent focus:outline-sawa-primary outline-sawa-primary 
    outline-1 placeholder:text-overlay disabled:bg-transparent">
    </div>

    <div class="w-full flex  flex-wrap justify-start items-center gap-2 text-white">
    <label for="email" class="w-20 text-lg capitalize ">date</label>
    <input type="date" name="email" id="email"  value="elviz@gmail.com"
    class="w-30  input input-sm input-neutral bg-transparent focus:outline-sawa-primary outline-sawa-primary 
    outline-1 placeholder:text-overlay disabled:bg-transparent">
    </div>

    </fieldset>
    </form>